{
 "openapi": "3.0.3",
 "info": {
  "title": "API de Remuneraciones de Abacco",
  "version": "1.0.0",
  "description": "API publica de remuneraciones (Api-Key)."
 },
 "servers": [
  {
   "url": "https://api.abacco.ai/api/v1",
   "description": "Produccion"
  }
 ],
 "security": [
  {
   "apiKeyAuth": []
  }
 ],
 "paths": {
  "/payroll/employees/": {
   "get": {
    "operationId": "listPayrollEmployees",
    "summary": "Listar empleados",
    "tags": [
     "Remuneraciones"
    ],
    "parameters": [
     {
      "name": "master_entity_id",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Id opaco (eid_...) o entero de la empresa"
     },
     {
      "name": "page",
      "in": "query",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page_size",
      "in": "query",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "count": {
           "type": "integer"
          },
          "results": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/PayrollEmployee"
           }
          }
         }
        }
       }
      }
     }
    }
   }
  },
  "/payroll/employees/{id}/": {
   "get": {
    "operationId": "getPayrollEmployee",
    "summary": "Detalle de un empleado",
    "tags": [
     "Remuneraciones"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Id opaco (eid_...) o entero"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PayrollEmployee"
        }
       }
      }
     }
    }
   }
  },
  "/payroll/runs/": {
   "get": {
    "operationId": "listPayrollRuns",
    "summary": "Listar procesos de nomina",
    "tags": [
     "Remuneraciones"
    ],
    "parameters": [
     {
      "name": "master_entity_id",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Id opaco (eid_...) o entero de la empresa"
     },
     {
      "name": "period",
      "in": "query",
      "schema": {
       "type": "string"
      },
      "description": "Periodo YYYYMM (ej. 202607)"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "count": {
           "type": "integer"
          },
          "results": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/PayrollRun"
           }
          }
         }
        }
       }
      }
     }
    }
   }
  },
  "/payroll/runs/{id}/": {
   "get": {
    "operationId": "getPayrollRun",
    "summary": "Detalle de un proceso",
    "tags": [
     "Remuneraciones"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Id opaco (eid_...) o entero"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PayrollRun"
        }
       }
      }
     }
    }
   }
  },
  "/payroll/runs/{id}/payslips/": {
   "get": {
    "operationId": "listPayrollRunPayslips",
    "summary": "Liquidaciones de un proceso",
    "tags": [
     "Remuneraciones"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Id opaco (eid_...) o entero"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "count": {
           "type": "integer"
          },
          "results": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/PayrollPayslip"
           }
          }
         }
        }
       }
      }
     }
    }
   }
  },
  "/payroll/payslips/{id}/": {
   "get": {
    "operationId": "getPayslip",
    "summary": "Detalle de una liquidacion (con lineas)",
    "tags": [
     "Remuneraciones"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Id opaco (eid_...) o entero"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PayrollPayslipDetail"
        }
       }
      }
     }
    }
   }
  },
  "/payroll/indicators/": {
   "get": {
    "operationId": "getPayrollIndicators",
    "summary": "Indicadores previsionales del periodo",
    "tags": [
     "Remuneraciones"
    ],
    "parameters": [
     {
      "name": "period",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Periodo YYYYMM"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": true
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "securitySchemes": {
   "apiKeyAuth": {
    "type": "apiKey",
    "in": "header",
    "name": "Authorization",
    "description": "Api-Key TU_API_KEY"
   }
  },
  "schemas": {
   "PayrollEmployee": {
    "type": "object",
    "properties": {
     "id": {
      "type": "string",
      "example": "eid_AbC123"
     },
     "rut": {
      "type": "string",
      "example": "12.345.678-9"
     },
     "full_name": {
      "type": "string"
     },
     "is_active": {
      "type": "boolean"
     },
     "worker_type": {
      "type": "string"
     },
     "contract_type": {
      "type": "string"
     },
     "base_salary": {
      "type": "number"
     },
     "start_date": {
      "type": "string",
      "format": "date"
     },
     "position": {
      "type": "string"
     },
     "afp": {
      "type": "string"
     },
     "health_system": {
      "type": "string"
     }
    }
   },
   "PayrollPayslip": {
    "type": "object",
    "properties": {
     "id": {
      "type": "string"
     },
     "employee_rut": {
      "type": "string"
     },
     "employee_name": {
      "type": "string"
     },
     "worked_days": {
      "type": "number"
     },
     "total_earnings": {
      "type": "number"
     },
     "total_taxable": {
      "type": "number"
     },
     "total_deductions": {
      "type": "number"
     },
     "net_pay": {
      "type": "number"
     },
     "employer_cost": {
      "type": "number"
     },
     "availability": {
      "type": "string"
     }
    }
   },
   "PayrollPayslipDetail": {
    "allOf": [
     {
      "$ref": "#/components/schemas/PayrollPayslip"
     },
     {
      "type": "object",
      "properties": {
       "lines": {
        "type": "array",
        "items": {
         "type": "object",
         "properties": {
          "code": {
           "type": "string"
          },
          "name": {
           "type": "string"
          },
          "kind": {
           "type": "string"
          },
          "amount": {
           "type": "number"
          }
         }
        }
       }
      }
     }
    ]
   },
   "PayrollRun": {
    "type": "object",
    "properties": {
     "id": {
      "type": "string"
     },
     "period": {
      "type": "string",
      "example": "202607"
     },
     "status": {
      "type": "string"
     },
     "closed_at": {
      "type": "string",
      "format": "date-time",
      "nullable": true
     },
     "paid_at": {
      "type": "string",
      "format": "date-time",
      "nullable": true
     },
     "totals": {
      "type": "object",
      "additionalProperties": true
     }
    }
   }
  }
 }
}